<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>El Surco</title>
</head>
<body>
<!-- Encabezado-->
<header>
    <h1>El Surco</h1>

    <!-- Menù-->
    <nav>
        <a href="#">¿Quiénes somos?</a>
        <a href="#">Tienda</a>
        <a href="#">Contacto</a>
        <a href="#">Únete a nuestro equipo</a>
    </nav>
</header>

<hr>
<main>
    <section>
        <h2>¿Quienes somos?</h2>
        <!-- Aqui esta para que pongas algo xic -->
        <div>

        </div>
    </section>












    <section>
        <h2>Nuestro objetivo:</h2>
        <!-- Aqui esta para que pongas algo xic -->
        <p></p>
    </section>

</main>

</body>
</html>